Flask==1.1.2
idna 
imageio
imagesize==1.2.0
imbalanced-learn==0.8.0
importlib-metadata 
importlib-resources==5.1.2
iniconfig 
jsonschema 
jupyter==1.0.0
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib 
notebook 
numpy 
numpydoc 
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
openpyxl 
opt-einsum==3.3.0
packaging==20.4
pandas 
Pillow 
psutil
py
scikit-image==0.17.2
scikit-learn==0.24.1
scipy 
tensorflow==2.4.1
